#header {
  background-color: black;
  color: white;
  top: 0;
  width: 100%;
  height: 4%;
  text-decoration: none;
}
.headerLinks {
  text-decoration: none;
  color: white;
  font-size: 23px;
  margin-right: 5px;
  margin-left: 5px;
}
.titles {
  text-align: center;
}
